@font-face {
  font-family: "shp_icons";
  src: url('fonts/shp_icons.eot@t=1701876467519'); /* IE9*/
  src: url('fonts/shp_icons.eot@t=1701876467519') format('embedded-opentype'), /* IE6-IE8 */
  url("fonts/shp_icons.woff2@t=1701876467519") format("woff2"),
  url("fonts/shp_icons.woff@t=1701876467519") format("woff"),
  url('fonts/shp_icons.ttf@t=1701876467519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/shp_icons.svg@t=1701876467519') format('svg'); /* iOS 4.1- */
}

[class^="shp_icons-"], [class*=" shp_icons-"] {
  font-family: 'shp_icons' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.shp_icons-account:before { content: "\ea01"; }
.shp_icons-action_close:before { content: "\ea02"; }
.shp_icons-add_circle:before { content: "\ea03"; }
.shp_icons-archive:before { content: "\ea04"; }
.shp_icons-archive_archive_add:before { content: "\ea05"; }
.shp_icons-archive_archive_add_filled:before { content: "\ea06"; }
.shp_icons-arrow_arrow_down_filled:before { content: "\ea07"; }
.shp_icons-arrow_arrow_left:before { content: "\ea08"; }
.shp_icons-arrow_arrow_right:before { content: "\ea09"; }
.shp_icons-arrow_circle_right:before { content: "\ea0a"; }
.shp_icons-arrow_import:before { content: "\ea0b"; }
.shp_icons-arrow_left:before { content: "\ea0c"; }
.shp_icons-arrow_login:before { content: "\ea0d"; }
.shp_icons-arrow_logout:before { content: "\ea0e"; }
.shp_icons-arrow_refresh_2:before { content: "\ea0f"; }
.shp_icons-arrow_right:before { content: "\ea10"; }
.shp_icons-arrow_swap_horizontal:before { content: "\ea11"; }
.shp_icons-beaker:before { content: "\ea12"; }
.shp_icons-bell:before { content: "\ea13"; }
.shp_icons-board:before { content: "\ea14"; }
.shp_icons-book:before { content: "\ea15"; }
.shp_icons-book_filled:before { content: "\ea16"; }
.shp_icons-briefcase:before { content: "\ea17"; }
.shp_icons-bug:before { content: "\ea18"; }
.shp_icons-burger:before { content: "\ea19"; }
.shp_icons-business_chart_2:before { content: "\ea1a"; }
.shp_icons-business_chart_2_filled:before { content: "\ea1b"; }
.shp_icons-business_home_hashtag:before { content: "\ea1c"; }
.shp_icons-calendar:before { content: "\ea1d"; }
.shp_icons-call_call:before { content: "\ea1e"; }
.shp_icons-call_incoming:before { content: "\ea1f"; }
.shp_icons-call_outgoing:before { content: "\ea20"; }
.shp_icons-call_received:before { content: "\ea21"; }
.shp_icons-caret-down:before { content: "\ea22"; }
.shp_icons-caret_down:before { content: "\ea23"; }
.shp_icons-caret_up:before { content: "\ea24"; }
.shp_icons-chart_pie:before { content: "\ea25"; }
.shp_icons-chat-alt:before { content: "\ea26"; }
.shp_icons-chat:before { content: "\ea27"; }
.shp_icons-chat_alt:before { content: "\ea28"; }
.shp_icons-check-circle:before { content: "\ea29"; }
.shp_icons-check:before { content: "\ea2a"; }
.shp_icons-checkbox:before { content: "\ea2b"; }
.shp_icons-checked:before { content: "\ea2c"; }
.shp_icons-checklist:before { content: "\ea2d"; }
.shp_icons-chevron-down:before { content: "\ea2e"; }
.shp_icons-chevron-up:before { content: "\ea2f"; }
.shp_icons-chevron_down:before { content: "\ea30"; }
.shp_icons-chevron_left:before { content: "\ea31"; }
.shp_icons-chevron_right:before { content: "\ea32"; }
.shp_icons-chevron_up:before { content: "\ea33"; }
.shp_icons-cirle_plus:before { content: "\ea34"; }
.shp_icons-clipboard_list:before { content: "\ea35"; }
.shp_icons-clock:before { content: "\ea36"; }
.shp_icons-close-circle:before { content: "\ea37"; }
.shp_icons-close:before { content: "\ea38"; }
.shp_icons-close_circle:before { content: "\ea39"; }
.shp_icons-close_circle_filled:before { content: "\ea3a"; }
.shp_icons-content_bill:before { content: "\ea3b"; }
.shp_icons-content_clipboard_tick:before { content: "\ea3c"; }
.shp_icons-content_clipboard_tick_bold:before { content: "\ea3d"; }
.shp_icons-content_document_text:before { content: "\ea3e"; }
.shp_icons-content_document_text_filled:before { content: "\ea3f"; }
.shp_icons-content_edit:before { content: "\ea40"; }
.shp_icons-content_edit_2:before { content: "\ea41"; }
.shp_icons-content_note:before { content: "\ea42"; }
.shp_icons-content_task:before { content: "\ea43"; }
.shp_icons-content_task_square:before { content: "\ea44"; }
.shp_icons-content_task_square_filled:before { content: "\ea45"; }
.shp_icons-content_type_bullets:before { content: "\ea46"; }
.shp_icons-content_type_lines:before { content: "\ea47"; }
.shp_icons-content_type_numbers:before { content: "\ea48"; }
.shp_icons-copy:before { content: "\ea49"; }
.shp_icons-course:before { content: "\ea4a"; }
.shp_icons-course_filled:before { content: "\ea4b"; }
.shp_icons-cross:before { content: "\ea4c"; }
.shp_icons-cup:before { content: "\ea4d"; }
.shp_icons-currency_rouble:before { content: "\ea4e"; }
.shp_icons-delete:before { content: "\ea4f"; }
.shp_icons-delivery_box:before { content: "\ea50"; }
.shp_icons-delivery_box_bold:before { content: "\ea51"; }
.shp_icons-devices_monitor_recorder:before { content: "\ea52"; }
.shp_icons-devices_printer:before { content: "\ea53"; }
.shp_icons-dialog:before { content: "\ea54"; }
.shp_icons-dice:before { content: "\ea55"; }
.shp_icons-doc:before { content: "\ea56"; }
.shp_icons-document_text:before { content: "\ea57"; }
.shp_icons-documents:before { content: "\ea58"; }
.shp_icons-documents_filled:before { content: "\ea59"; }
.shp_icons-dots-vertical:before { content: "\ea5a"; }
.shp_icons-dots_horizontal:before { content: "\ea5b"; }
.shp_icons-dots_horizontal_filled:before { content: "\ea5c"; }
.shp_icons-dots_vertical:before { content: "\ea5d"; }
.shp_icons-download:before { content: "\ea5e"; }
.shp_icons-duplicate:before { content: "\ea5f"; }
.shp_icons-easter_egg:before { content: "\ea60"; }
.shp_icons-edit:before { content: "\ea61"; }
.shp_icons-edit_alt:before { content: "\ea62"; }
.shp_icons-education_hat:before { content: "\ea63"; }
.shp_icons-education_hat_filled:before { content: "\ea64"; }
.shp_icons-ellipse:before { content: "\ea65"; }
.shp_icons-enroll:before { content: "\ea66"; }
.shp_icons-enroll_filled:before { content: "\ea67"; }
.shp_icons-essential_add_circle:before { content: "\ea68"; }
.shp_icons-essential_forbidden:before { content: "\ea69"; }
.shp_icons-essential_home_2:before { content: "\ea6a"; }
.shp_icons-essential_home_2_filled:before { content: "\ea6b"; }
.shp_icons-essential_minus_circle:before { content: "\ea6c"; }
.shp_icons-essential_send_filled:before { content: "\ea6d"; }
.shp_icons-essential_tick_circle:before { content: "\ea6e"; }
.shp_icons-essential_trash:before { content: "\ea6f"; }
.shp_icons-essential_warning_2:before { content: "\ea70"; }
.shp_icons-exclamation_circle:before { content: "\ea71"; }
.shp_icons-external-link:before { content: "\ea72"; }
.shp_icons-eye-off:before { content: "\ea73"; }
.shp_icons-eye:before { content: "\ea74"; }
.shp_icons-files_folder_minus_filled:before { content: "\ea75"; }
.shp_icons-filter:before { content: "\ea76"; }
.shp_icons-finance:before { content: "\ea77"; }
.shp_icons-finance_filled:before { content: "\ea78"; }
.shp_icons-flag:before { content: "\ea79"; }
.shp_icons-flame_filled:before { content: "\ea7a"; }
.shp_icons-gender_female:before { content: "\ea7b"; }
.shp_icons-gender_male:before { content: "\ea7c"; }
.shp_icons-grade:before { content: "\ea7d"; }
.shp_icons-grade_filled:before { content: "\ea7e"; }
.shp_icons-grid-10:before { content: "\ea7f"; }
.shp_icons-grid-4:before { content: "\ea80"; }
.shp_icons-group:before { content: "\ea81"; }
.shp_icons-help:before { content: "\ea82"; }
.shp_icons-home:before { content: "\ea83"; }
.shp_icons-identification:before { content: "\ea84"; }
.shp_icons-in_process:before { content: "\ea85"; }
.shp_icons-income_fail:before { content: "\ea86"; }
.shp_icons-income_ok:before { content: "\ea87"; }
.shp_icons-indeterminate:before { content: "\ea88"; }
.shp_icons-infinity:before { content: "\ea89"; }
.shp_icons-information-circle:before { content: "\ea8a"; }
.shp_icons-information:before { content: "\ea8b"; }
.shp_icons-information_circle:before { content: "\ea8c"; }
.shp_icons-information_filled:before { content: "\ea8d"; }
.shp_icons-information_octagon:before { content: "\ea8e"; }
.shp_icons-input_clear:before { content: "\ea8f"; }
.shp_icons-kubik3:before { content: "\ea90"; }
.shp_icons-lesson:before { content: "\ea91"; }
.shp_icons-letter:before { content: "\ea92"; }
.shp_icons-light_bulb:before { content: "\ea93"; }
.shp_icons-light_bulb_filled:before { content: "\ea94"; }
.shp_icons-location:before { content: "\ea95"; }
.shp_icons-location_marker:before { content: "\ea96"; }
.shp_icons-login:before { content: "\ea97"; }
.shp_icons-logout:before { content: "\ea98"; }
.shp_icons-long-arrow-right:before { content: "\ea99"; }
.shp_icons-long_arrow_left:before { content: "\ea9a"; }
.shp_icons-long_arrow_right:before { content: "\ea9b"; }
.shp_icons-magic_star:before { content: "\ea9c"; }
.shp_icons-mail:before { content: "\ea9d"; }
.shp_icons-media_gallery:before { content: "\ea9e"; }
.shp_icons-media_image_filled:before { content: "\ea9f"; }
.shp_icons-media_subtitle:before { content: "\eaa0"; }
.shp_icons-media_subtitle_bold:before { content: "\eaa1"; }
.shp_icons-media_video_play:before { content: "\eaa2"; }
.shp_icons-menu:before { content: "\eaa3"; }
.shp_icons-menu_grip_vertical:before { content: "\eaa4"; }
.shp_icons-menu_kebab:before { content: "\eaa5"; }
.shp_icons-message_question:before { content: "\eaa6"; }
.shp_icons-message_text:before { content: "\eaa7"; }
.shp_icons-message_tick:before { content: "\eaa8"; }
.shp_icons-messages_direct_inbox:before { content: "\eaa9"; }
.shp_icons-messages_mark_as_read:before { content: "\eaaa"; }
.shp_icons-messages_messages_2:before { content: "\eaab"; }
.shp_icons-messages_sms:before { content: "\eaac"; }
.shp_icons-messages_sms_check:before { content: "\eaad"; }
.shp_icons-minus:before { content: "\eaae"; }
.shp_icons-modern-calendar:before { content: "\eaaf"; }
.shp_icons-modern-check:before { content: "\eab0"; }
.shp_icons-modern-cheveron-down:before { content: "\eab1"; }
.shp_icons-modern-cheveron-up:before { content: "\eab2"; }
.shp_icons-modern-close:before { content: "\eab3"; }
.shp_icons-modern-phone:before { content: "\eab4"; }
.shp_icons-modern-search:before { content: "\eab5"; }
.shp_icons-modern_add_square:before { content: "\eab6"; }
.shp_icons-modern_calendar_filled:before { content: "\eab7"; }
.shp_icons-modern_chevron_down:before { content: "\eab8"; }
.shp_icons-modern_close:before { content: "\eab9"; }
.shp_icons-modern_document_text:before { content: "\eaba"; }
.shp_icons-modern_droprown_item_check:before { content: "\eabb"; }
.shp_icons-modern_edit_2:before { content: "\eabc"; }
.shp_icons-modern_edit_rounded:before { content: "\eabd"; }
.shp_icons-modern_exclamation:before { content: "\eabe"; }
.shp_icons-modern_home:before { content: "\eabf"; }
.shp_icons-modern_home_filled:before { content: "\eac0"; }
.shp_icons-modern_lesson:before { content: "\eac1"; }
.shp_icons-modern_lesson_filled:before { content: "\eac2"; }
.shp_icons-modern_logout:before { content: "\eac3"; }
.shp_icons-modern_message:before { content: "\eac4"; }
.shp_icons-modern_navigation_arrow:before { content: "\eac5"; }
.shp_icons-modern_navigation_bended_arrow:before { content: "\eac6"; }
.shp_icons-modern_navigation_circle:before { content: "\eac7"; }
.shp_icons-modern_navigation_disc:before { content: "\eac8"; }
.shp_icons-modern_pencil:before { content: "\eac9"; }
.shp_icons-modern_phone:before { content: "\eaca"; }
.shp_icons-modern_search:before { content: "\eacb"; }
.shp_icons-modern_timer:before { content: "\eacc"; }
.shp_icons-modern_undo:before { content: "\eacd"; }
.shp_icons-money_ticket_discount_filled:before { content: "\eace"; }
.shp_icons-money_wallet_3:before { content: "\eacf"; }
.shp_icons-money_wallet_3_bold:before { content: "\ead0"; }
.shp_icons-money_wallet_3_filled:before { content: "\ead1"; }
.shp_icons-moscow:before { content: "\ead2"; }
.shp_icons-nav-arrow-right:before { content: "\ead3"; }
.shp_icons-nav-chevron-down:before { content: "\ead4"; }
.shp_icons-nav-chevron-up:before { content: "\ead5"; }
.shp_icons-new-checked:before { content: "\ead6"; }
.shp_icons-notifications_notification:before { content: "\ead7"; }
.shp_icons-office_building:before { content: "\ead8"; }
.shp_icons-organization:before { content: "\ead9"; }
.shp_icons-organization_filled:before { content: "\eada"; }
.shp_icons-outcome_fail:before { content: "\eadb"; }
.shp_icons-outcome_ok:before { content: "\eadc"; }
.shp_icons-pencil:before { content: "\eadd"; }
.shp_icons-pencil_alt:before { content: "\eade"; }
.shp_icons-people:before { content: "\eadf"; }
.shp_icons-phone:before { content: "\eae0"; }
.shp_icons-phone_outline:before { content: "\eae1"; }
.shp_icons-plus:before { content: "\eae2"; }
.shp_icons-plus_circle:before { content: "\eae3"; }
.shp_icons-plus_circle_base:before { content: "\eae4"; }
.shp_icons-plus_rounded:before { content: "\eae5"; }
.shp_icons-point:before { content: "\eae6"; }
.shp_icons-pointer_down:before { content: "\eae7"; }
.shp_icons-profile_tick:before { content: "\eae8"; }
.shp_icons-programming_code:before { content: "\eae9"; }
.shp_icons-programming_document_code_6:before { content: "\eaea"; }
.shp_icons-programming_message_programming:before { content: "\eaeb"; }
.shp_icons-puzzle:before { content: "\eaec"; }
.shp_icons-question_circle:before { content: "\eaed"; }
.shp_icons-rectangle:before { content: "\eaee"; }
.shp_icons-refresh:before { content: "\eaef"; }
.shp_icons-saint_petersburg:before { content: "\eaf0"; }
.shp_icons-save:before { content: "\eaf1"; }
.shp_icons-school:before { content: "\eaf2"; }
.shp_icons-school_award:before { content: "\eaf3"; }
.shp_icons-school_award_bold:before { content: "\eaf4"; }
.shp_icons-school_book:before { content: "\eaf5"; }
.shp_icons-school_book_filled:before { content: "\eaf6"; }
.shp_icons-school_brifecase_timer_bold:before { content: "\eaf7"; }
.shp_icons-school_teacher:before { content: "\eaf8"; }
.shp_icons-school_teacher_bold:before { content: "\eaf9"; }
.shp_icons-school_teacher_filled:before { content: "\eafa"; }
.shp_icons-search_circle:before { content: "\eafb"; }
.shp_icons-search_search_zoom_in_filled:before { content: "\eafc"; }
.shp_icons-security_key:before { content: "\eafd"; }
.shp_icons-settings:before { content: "\eafe"; }
.shp_icons-settings_more:before { content: "\eaff"; }
.shp_icons-settings_more_filled:before { content: "\eb00"; }
.shp_icons-shape:before { content: "\eb01"; }
.shp_icons-sidebar_left_close:before { content: "\eb02"; }
.shp_icons-sidebar_left_open:before { content: "\eb03"; }
.shp_icons-slash:before { content: "\eb04"; }
.shp_icons-sms:before { content: "\eb05"; }
.shp_icons-sms_tracking:before { content: "\eb06"; }
.shp_icons-snowflake:before { content: "\eb07"; }
.shp_icons-social_networks_bitrix:before { content: "\eb08"; }
.shp_icons-social_networks_vk:before { content: "\eb09"; }
.shp_icons-sqrt:before { content: "\eb0a"; }
.shp_icons-star:before { content: "\eb0b"; }
.shp_icons-stop_office:before { content: "\eb0c"; }
.shp_icons-study_process:before { content: "\eb0d"; }
.shp_icons-study_process_filled:before { content: "\eb0e"; }
.shp_icons-support_dislike:before { content: "\eb0f"; }
.shp_icons-support_dislike_filled:before { content: "\eb10"; }
.shp_icons-support_like:before { content: "\eb11"; }
.shp_icons-support_like_filled:before { content: "\eb12"; }
.shp_icons-support_question:before { content: "\eb13"; }
.shp_icons-support_question_filled:before { content: "\eb14"; }
.shp_icons-task:before { content: "\eb15"; }
.shp_icons-task_filled:before { content: "\eb16"; }
.shp_icons-test:before { content: "\eb17"; }
.shp_icons-thumb_down:before { content: "\eb18"; }
.shp_icons-thumb_up:before { content: "\eb19"; }
.shp_icons-time_calendar:before { content: "\eb1a"; }
.shp_icons-time_calendar_filled:before { content: "\eb1b"; }
.shp_icons-time_clock:before { content: "\eb1c"; }
.shp_icons-time_timer:before { content: "\eb1d"; }
.shp_icons-timer_filled:before { content: "\eb1e"; }
.shp_icons-trash:before { content: "\eb1f"; }
.shp_icons-trash_modern:before { content: "\eb20"; }
.shp_icons-type_attach_circle:before { content: "\eb21"; }
.shp_icons-type_index_script_subscript:before { content: "\eb22"; }
.shp_icons-type_index_script_superscript:before { content: "\eb23"; }
.shp_icons-type_link:before { content: "\eb24"; }
.shp_icons-type_link_2:before { content: "\eb25"; }
.shp_icons-type_link_linear:before { content: "\eb26"; }
.shp_icons-type_link_off:before { content: "\eb27"; }
.shp_icons-type_paperclip:before { content: "\eb28"; }
.shp_icons-type_paperclip_2:before { content: "\eb29"; }
.shp_icons-type_text:before { content: "\eb2a"; }
.shp_icons-type_text_bold:before { content: "\eb2b"; }
.shp_icons-type_text_italic:before { content: "\eb2c"; }
.shp_icons-type_text_underline:before { content: "\eb2d"; }
.shp_icons-undo:before { content: "\eb2e"; }
.shp_icons-union:before { content: "\eb2f"; }
.shp_icons-user:before { content: "\eb30"; }
.shp_icons-user_circle:before { content: "\eb31"; }
.shp_icons-user_group:before { content: "\eb32"; }
.shp_icons-user_octagon:before { content: "\eb33"; }
.shp_icons-usercard:before { content: "\eb34"; }
.shp_icons-users:before { content: "\eb35"; }
.shp_icons-users_filled:before { content: "\eb36"; }
.shp_icons-users_user:before { content: "\eb37"; }
.shp_icons-users_user_square:before { content: "\eb38"; }
.shp_icons-users_user_tag:before { content: "\eb39"; }
.shp_icons-vector:before { content: "\eb3a"; }
